<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.co.rcmo.rcmoapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.androidsrc.gcmsample.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.androidsrc.gcmsample.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RCMO"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalculatePlantCostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PlantMainProductListActivity" />
        <activity android:name=".FishProductListActivity" />
        <activity android:name=".LivestockProductListActivity" />
        <activity android:name=".PlantSubProductListActivity" />
        <activity android:name=".AmphoeListActivity" />
        <activity android:name=".ProvinceListActivity" />
        <activity android:name=".TumbonListActivity" />
        <!-- <activity android:name=".MainProductListActivity" /> -->
        <!--
         android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
         android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
        -->
        <activity
            android:name=".ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:theme="@style/AppTheme" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".EditUserActivity" />
        <activity android:name=".WebActivity"></activity>
    </application>

</manifest>